*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito";

}
p{
  margin-bottom: 0rem;
}

:root {
  --teal: rgba(4, 71, 74, 1);
  --green: rgba(0, 153, 66, 1);
  --red: rgba(216, 35, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --seablue:  rgba(65, 90, 166, 1);
  --lightblue: rgba(31, 188, 235, 0.5);
;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  /* transition: opacity 1000ms ease-in-out; */

}

.ReactModal__Overlay--before-close{
  opacity: 0;
  /* transition: opacity 1000ms ease-in-out; */

}
.card-container{
  padding: 0px !important;
  border-radius: 8px 8px 0 0 !important;

}

.w-100{
  object-fit: cover !important;
  height: 100% !important;
 border-radius: 8px 8px 0 0 !important;
}